.expenses {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}

.white-color {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}